function http-vcloud-login {
    http --session=vcloud-ss-vagrant \
    --verify=no -a vagrant@ss \
    POST https://roecloud001/api/sessions \
    'Accept:application/*+xml;version=5.5' \
    --pretty colors
}

function http-vcloud {
    http --session=vcloud-ss-vagrant --verify=no --pretty colors --print hb "https://roecloud001$@";
}
