"*":
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 18
    invisibles: {}
    normalizeIndentOnPaste: false
    showIndentGuide: true
  "exception-reporting":
    userId: "05162874-e0c6-bfb2-ad47-5bead3da1b69"
  "file-types":
    ".*\\.wxs$": "text.xml"
    "^Dockerfile\\..*": "source.dockerfile"
  "go-plus":
    goPath: "/Users/stefan/go"
    showPanel: false
  "linter-eslint":
    useGlobalEslint: true
  "linter-shellcheck":
    enableNotice: true
  metrics:
    userId: "342ad9a99899ef9e89529602774ab0d4c23d7257"
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check": {}
  tabs:
    usePreviewTabs: true
  "theme-switcher":
    syntaxThemeOne: "one-dark-syntax"
    syntaxThemeTwo: "one-light-syntax"
  welcome:
    showOnStartup: false
