"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "linter-eslint"
      "whitespace"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
  editor:
    autoIndentOnPaste: false
    fontSize: 17
    invisibles: {}
    normalizeIndentOnPaste: false
    showIndentGuide: true
  "exception-reporting":
    userId: "05162874-e0c6-bfb2-ad47-5bead3da1b69"
  "file-types":
    ".*\\.wxs$": "text.xml"
    "^Dockerfile\\..*": "source.dockerfile"
  "go-plus":
    goPath: "/Users/stefan/go"
    showPanel: false
  linter: {}
  "linter-eslint":
    useGlobalEslint: true
  "linter-shellcheck":
    enableNotice: true
  "linter-ui-default":
    panelHeight: 69
  metrics:
    userId: "342ad9a99899ef9e89529602774ab0d4c23d7257"
  "one-dark-ui":
    tabSizing: "Even"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: false
    prettierOptions:
      singleQuote: true
    useEslint: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check": {}
  tabs:
    usePreviewTabs: true
  "theme-switcher":
    syntaxThemeOne: "one-dark-syntax"
    syntaxThemeTwo: "one-light-syntax"
  welcome:
    showOnStartup: false
