"*":
  "exception-reporting":
    userId: "05162874-e0c6-bfb2-ad47-5bead3da1b69"
  "release-notes":
    viewedVersion: "0.89.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "342ad9a99899ef9e89529602774ab0d4c23d7257"
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
  editor:
    invisibles: {}
    normalizeIndentOnPaste: false
    autoIndentOnPaste: false
    fontSize: 18
    showIndentGuide: true
  tabs:
    usePreviewTabs: true
  "go-plus":
    goPath: "/Users/stefan/go"
    showPanel: false
