<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Center</key>
	<dict>
		<key>ComboCode</key>
		<integer>8</integer>
		<key>ComboFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>Down</key>
	<dict>
		<key>ComboCode</key>
		<integer>125</integer>
		<key>ComboFlags</key>
		<integer>10354688</integer>
		<key>Height</key>
		<real>0.5</real>
		<key>Width</key>
		<real>1</real>
		<key>X</key>
		<real>0.0</real>
		<key>Y</key>
		<real>0.5</real>
	</dict>
	<key>Full Screen</key>
	<dict>
		<key>ComboCode</key>
		<integer>126</integer>
		<key>ComboFlags</key>
		<integer>10223616</integer>
		<key>Height</key>
		<real>1</real>
		<key>Width</key>
		<real>1</real>
		<key>X</key>
		<real>0.0</real>
		<key>Y</key>
		<real>0.0</real>
	</dict>
	<key>Left</key>
	<dict>
		<key>ComboCode</key>
		<integer>123</integer>
		<key>ComboFlags</key>
		<integer>10223616</integer>
		<key>Height</key>
		<real>1</real>
		<key>Width</key>
		<real>0.5</real>
		<key>X</key>
		<real>0.0</real>
		<key>Y</key>
		<real>0.0</real>
	</dict>
	<key>Lower Left</key>
	<dict>
		<key>ComboCode</key>
		<integer>125</integer>
		<key>ComboFlags</key>
		<integer>917504</integer>
		<key>Height</key>
		<real>0.5</real>
		<key>Width</key>
		<real>0.5</real>
		<key>X</key>
		<real>0.0</real>
		<key>Y</key>
		<real>0.5</real>
	</dict>
	<key>Lower Right</key>
	<dict>
		<key>ComboCode</key>
		<integer>124</integer>
		<key>ComboFlags</key>
		<integer>917504</integer>
		<key>Height</key>
		<real>0.5</real>
		<key>Width</key>
		<real>0.5</real>
		<key>X</key>
		<real>0.5</real>
		<key>Y</key>
		<real>0.5</real>
	</dict>
	<key>MinutesSaved</key>
	<real>309</real>
	<key>NSToolbar Configuration EC5BBD42-A3E9-4FF6-8EED-5FADB11C2C5A</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>Next Monitor</key>
	<dict>
		<key>ComboCode</key>
		<integer>124</integer>
		<key>ComboFlags</key>
		<integer>786432</integer>
	</dict>
	<key>Prev Monitor</key>
	<dict>
		<key>ComboCode</key>
		<integer>123</integer>
		<key>ComboFlags</key>
		<integer>786432</integer>
	</dict>
	<key>Right</key>
	<dict>
		<key>ComboCode</key>
		<integer>124</integer>
		<key>ComboFlags</key>
		<integer>1835008</integer>
		<key>Height</key>
		<real>1</real>
		<key>Width</key>
		<real>0.5</real>
		<key>X</key>
		<real>0.5</real>
		<key>Y</key>
		<real>0.0</real>
	</dict>
	<key>SULastCheckTime</key>
	<date>2018-08-06T12:57:19Z</date>
	<key>ShortcutsDisabled</key>
	<false/>
	<key>ShortcutsEnabled</key>
	<true/>
	<key>ShowPrefsOnNextStart</key>
	<false/>
	<key>SnapBack</key>
	<dict>
		<key>ComboCode</key>
		<integer>125</integer>
		<key>ComboFlags</key>
		<integer>10223616</integer>
	</dict>
	<key>Space Above</key>
	<dict>
		<key>ComboCode</key>
		<integer>126</integer>
		<key>ComboFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>Space Below</key>
	<dict>
		<key>ComboCode</key>
		<integer>125</integer>
		<key>ComboFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>Space Next</key>
	<dict>
		<key>ComboCode</key>
		<integer>124</integer>
		<key>ComboFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>Space Prev</key>
	<dict>
		<key>ComboCode</key>
		<integer>123</integer>
		<key>ComboFlags</key>
		<integer>1310720</integer>
	</dict>
	<key>Up</key>
	<dict>
		<key>ComboCode</key>
		<integer>126</integer>
		<key>ComboFlags</key>
		<integer>10354688</integer>
		<key>Height</key>
		<real>0.5</real>
		<key>Width</key>
		<real>1</real>
		<key>X</key>
		<real>0.0</real>
		<key>Y</key>
		<real>0.0</real>
	</dict>
	<key>Upper Left</key>
	<dict>
		<key>ComboCode</key>
		<integer>123</integer>
		<key>ComboFlags</key>
		<integer>917504</integer>
		<key>Height</key>
		<real>0.5</real>
		<key>Width</key>
		<real>0.5</real>
		<key>X</key>
		<real>0.0</real>
		<key>Y</key>
		<real>0.0</real>
	</dict>
	<key>Upper Right</key>
	<dict>
		<key>ComboCode</key>
		<integer>126</integer>
		<key>ComboFlags</key>
		<integer>917504</integer>
		<key>Height</key>
		<real>0.5</real>
		<key>Width</key>
		<real>0.5</real>
		<key>X</key>
		<real>0.5</real>
		<key>Y</key>
		<real>0.0</real>
	</dict>
	<key>WebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>WebKitStandardFont</key>
	<string>.SF NS Text</string>
	<key>WindowsMoved</key>
	<integer>6183</integer>
</dict>
</plist>
